
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*

#Temp folders
temp-sql/
database-temp/
database-validation/
temp-rtftohtml/
temp-commandtool-*/
01-rep/
03-chk/
05-update/
07-rep/
09-chk/

#temp files
~$*.doc
~$*.docx
~$*.xls
~$*.xlsx

# ignore environment manager files
startedby
lastactivity
deployedby

#Binary files
*.orig
*.mdf
*.ldf
*.dmp
*.rar
*.zip
*.reg
*.lnk
*.thf

# ignore pictures
*.jpg
*.png
*.jpeg
*.bmp
*.gif

#Website structure folders
Data/
Databases/
Website/
Services/
Support/
Uct/
Tools/

#FileServiceData folders to ignore
#FileServiceData/Images/Themes/
FileServiceData/Upload/
FileServiceData/SendEmail/
FileServiceData/Import/**/*.txt
FileServiceData/Import/*.txt
FileServiceData/Export/**/*.txt
FileServiceData/Export/*.txt
FileServiceData/Import/**/*.csv
FileServiceData/Import/*.csv
FileServiceData/Export/**/*.csv
FileServiceData/Export/*.csv
FileServiceData/Export/EXPORT_RESERVATION/Reservation.xml
FileServiceData/Documenten/*
FileServiceData/Import/IMPORT_ADS_EMPLOYEE/Input/upload
FileServiceData/Export/EXPORT_RESERVATION/726.xml
FileServiceData/Import/tijdelijk/*
FileServiceData/GroupData/*
*_Result.xml
*_Transformed.xml
*_Error.xml
*_Output.xml
*_Input.xml

Scripts/MyConfiguration*/
FileServiceData/MyConfiguration*/
FileServiceData/*Backup*/
FileServiceData/*Designer*/
FileServiceData/MenusClassic/
FileServiceData/Packages/*auto*
*.rup